<div class="my-5">
  <div class="card">
    <div class="card-header">
      <h2 class="text-center">{{ data.title | titlecase }}</h2>
    </div>
    <div class="card-body">
      <div class="alert alert-danger" *ngIf="errorMessage">{{ errorMessage }}</div>
      <form>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" [(ngModel)]="data.datos.email" name="email" />
        </div>
        <div class="form-group">
          <label for="pass">Password</label>
          <input
            type="password"
            class="form-control"
            id="pass"
            [(ngModel)]="data.datos.pass" name="pass"
          />
        </div>
        <button (click)="submit()" class="btn btn-primary">{{ data.title | titlecase }}</button>
      </form>
      <a [routerLink]="['/credentials/' + data.alternate]">{{ data.alternate | titlecase }}</a>
    </div>
  </div>
</div>
